---
- name: Get Azure VM Info with desired tags
  azure.azcollection.azure_rm_virtualmachine_info:
    tags:
      - environment:{{ env }}
      - owner:{{ owner }}
  register: instance_info

- name: Change instance state
  azure.azcollection.azure_rm_virtualmachine:
    name: "{{ item.name }}"
    resource_group: "{{ item.resource_group }}"
    started: "{{ opt_in_savings_start }}"
  loop: "{{ instance_info.vms }}"
  loop_control:
    label: "{{ item.name }}"
